@page "/produto/EditProduto/{item}"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="card m-3">
    <h4 class="card-header">Atualização do Produto</h4>
    <div class="card-body">
        <EditForm Model="@product" OnValidSubmit="HandleValidSubmit" @onreset="HandleReset">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Nome</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@product.Name" />
                        <ValidationMessage For="@( () => product.Name )" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>Preço</label>
                    <div>
                        <InputNumber class="form-control" @bind-Value="@product.Price" />
                        <ValidationMessage For="@( () => product.Price )" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>Categoria</label>
                    <div>
                        <select @bind="product.IdCategory">
                            <option value="">Selecione a Categoria</option>
                            @foreach (var category in categoryList)
                            {
                                <option value="@category.Id">@category.Description</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div>
                    <button class="btn btn-success" type="submit">Atualizar</button>
                    <button class="btn btn-secondary" type="reset">Cancelar</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private Product product = new Product();
    private EditContext editContext { get; set; }
    private List<Category> categoryList = new List<Category>();

    [Parameter]
    public string Item { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var categories = await Http.GetFromJsonAsync<List<Category>>("/Category/List");
        foreach (var item in categories)
        {
            categoryList.Add(item);
        }
        
        var itemId = Item;
        product = await Http.GetFromJsonAsync<Product>($"/Product/GetById?id={itemId}");
        editContext = new EditContext(product);
    }

    private async Task HandleValidSubmit()
    {
        await Http.PutAsJsonAsync("/Product/Update", product);
        NavigationManager.NavigateTo("produto/list");
    }

    private void HandleReset()
    {
        product = new Product();
        editContext = new EditContext(product);
    }
}